In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

## Data Preprocessing

In [2]:
# Importing the dataset
application_df = pd.read_csv('Resources/charity_data.csv')
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Removing 'EIN' and 'NAME' columns
application_df.drop(['EIN', 'NAME'], axis='columns', inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Number of unique values in each column
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Deeper look at 'APPLICATION_TYPE' value counts
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Binning 'APPLICATION_TYPE' under 500
# Putting T9-T17 (according to their frequencies) into a single bin called 'Other'
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replacing low frequency application types in the dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, 'Other')

application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# 'CLASSIFICATION' column value counts
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# 'CLASSIFICATION' column value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Binning 'CLASSIFICATION' under 1000
classifications = application_df['CLASSIFICATION'].unique()
classifications_to_replace = [x for x in classifications if x not in ('C1000', 'C2000', 'C1200', 'C3000', 'C2100')]

# Replacing low frequency application types in the dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, 'Other')

application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Converting categorical data to numeric
application_num = pd.get_dummies(application_df)
application_num.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Splitting into features and target arrays
y = application_num['IS_SUCCESSFUL'].values
X = application_num.drop('IS_SUCCESSFUL', axis='columns').values

# Splitting into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [12]:
scaler = StandardScaler()

# Fitting the scaler with X_train
scaler.fit(X_train)

# Scaling the data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

## Compile, Train, and Evaluate the Model

In [13]:
# Model: Deep Neural Network 
# Input features same length as X training dataset, 80 nodes in hidden layer 1, 30 nodes in hidden layer 2, and sigmoid output layer

nn = tf.keras.models.Sequential()

# First hiden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=len(X_train[0])))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Checking structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compiling the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
# Callback to save the model's weight every 5 epochs
cp_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath = 'Checkpoints/weights-{epoch:03d}-{accuracy:.4f}.ckpt',
    period = 5,
    monitor = 'accuracy',
    verbose = 0,
    mode = 'auto',
    save_weights_only = True
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [18]:
# Training the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7325
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7342
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7334
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7347
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7353
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7356
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7358
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7354
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7350
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7360
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7354
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7372
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7365
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7371
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7376
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7381
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7377
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7374
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7371
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7375
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7386
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7392
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7387
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7372
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7390
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7390
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7386
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7395
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7390
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7394
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7379
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7396
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7395
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7403
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7399
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7394
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7399
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7403
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7402
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7403
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7401
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7401
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7405
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7400
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7404
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7407
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7399
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7402
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7406
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7402
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7402
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7407
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7407
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7414
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7405
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7400
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7406
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7405
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7401
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7408
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7406
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7409
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7407
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7414
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7411
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7406
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7414
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7412
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7414
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7411
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7407
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7414
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7411
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7413
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7416
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7415
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7421
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7417
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7416
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7416
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7420
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7415
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7422
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7428
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7428
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7419
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7430
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7422
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7418
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7424
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7416
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7414
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7424
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7419
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7423
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7418

In [19]:
# Evaluating model using test data
model_loss, model_accurary = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f'Loss: {model_loss}, Accuracy: {model_accurary}')

268/268 - 0s - loss: 0.5753 - accuracy: 0.7237 - 326ms/epoch - 1ms/step
Loss: 0.5752522349357605, Accuracy: 0.7237317562103271

In [20]:
# Exporting model to HDF5 file
nn.save('Model/AlphabetSoupCharity.h5')